<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="e20c6587d5e84951a2b39601f8c59478" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e20c6587d5e84951a2b39601f8c59478 = echarts.init(
            document.getElementById('e20c6587d5e84951a2b39601f8c59478'), 'white', {renderer: 'canvas'});
        var option_e20c6587d5e84951a2b39601f8c59478 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "lines3D",
            "coordinateSystem": "geo3D",
            "geo3DIndex": 0,
            "globeIndex": 0,
            "polyline": false,
            "effect": {
                "show": true,
                "period": 0.6,
                "trailWidth": 7.6,
                "trailLength": 1.8,
                "trailColor": "#f00",
                "trailOpacity": 1
            },
            "lineStyle": {
                "show": false,
                "width": 1,
                "opacity": 0,
                "curveness": 0,
                "type": "solid",
                "color": "#fff"
            },
            "data": [
                [
                    [
                        76.16661,
                        39.7153
                    ],
                    [
                        80.26008,
                        41.16842
                    ]
                ],
                [
                    [
                        80.26008,
                        41.16842
                    ],
                    [
                        81.32416,
                        43.91689
                    ]
                ],
                [
                    [
                        81.32416,
                        43.91689
                    ],
                    [
                        82.06665,
                        44.90597
                    ]
                ],
                [
                    [
                        82.06665,
                        44.90597
                    ],
                    [
                        82.98046,
                        46.74532
                    ]
                ],
                [
                    [
                        82.98046,
                        46.74532
                    ],
                    [
                        84.88927,
                        45.57999
                    ]
                ],
                [
                    [
                        84.88927,
                        45.57999
                    ],
                    [
                        87.30822,
                        44.01117
                    ]
                ],
                [
                    [
                        87.30822,
                        44.01117
                    ],
                    [
                        87.61688,
                        43.82663
                    ]
                ],
                [
                    [
                        87.61688,
                        43.82663
                    ],
                    [
                        89.18954,
                        42.9513
                    ]
                ],
                [
                    [
                        89.18954,
                        42.9513
                    ],
                    [
                        93.51538,
                        42.81855
                    ]
                ],
                [
                    [
                        93.51538,
                        42.81855
                    ],
                    [
                        98.29011,
                        39.77201
                    ]
                ],
                [
                    [
                        98.29011,
                        39.77201
                    ],
                    [
                        98.49394,
                        39.73255
                    ]
                ],
                [
                    [
                        98.49394,
                        39.73255
                    ],
                    [
                        100.44981,
                        38.92592
                    ]
                ],
                [
                    [
                        100.44981,
                        38.92592
                    ],
                    [
                        102.18759,
                        38.52006
                    ]
                ],
                [
                    [
                        102.18759,
                        38.52006
                    ],
                    [
                        102.63797,
                        37.9282
                    ]
                ],
                [
                    [
                        102.63797,
                        37.9282
                    ],
                    [
                        102.40173,
                        36.48209
                    ]
                ],
                [
                    [
                        102.40173,
                        36.48209
                    ],
                    [
                        103.21091,
                        35.60122
                    ]
                ],
                [
                    [
                        103.21091,
                        35.60122
                    ],
                    [
                        103.83417,
                        36.06138
                    ]
                ],
                [
                    [
                        103.83417,
                        36.06138
                    ],
                    [
                        104.13773,
                        36.5447
                    ]
                ],
                [
                    [
                        104.13773,
                        36.5447
                    ],
                    [
                        104.62524,
                        35.58113
                    ]
                ],
                [
                    [
                        104.62524,
                        35.58113
                    ],
                    [
                        105.72486,
                        34.58085
                    ]
                ],
                [
                    [
                        105.72486,
                        34.58085
                    ],
                    [
                        106.6653,
                        35.54303
                    ]
                ],
                [
                    [
                        106.6653,
                        35.54303
                    ],
                    [
                        107.64292,
                        35.70978
                    ]
                ],
                [
                    [
                        107.64292,
                        35.70978
                    ],
                    [
                        108.94515,
                        34.89673
                    ]
                ],
                [
                    [
                        108.94515,
                        34.89673
                    ],
                    [
                        108.93984,
                        34.34127
                    ]
                ],
                [
                    [
                        108.93984,
                        34.34127
                    ],
                    [
                        109.51015,
                        34.49997
                    ]
                ],
                [
                    [
                        109.51015,
                        34.49997
                    ],
                    [
                        109.94041,
                        33.87036
                    ]
                ],
                [
                    [
                        109.94041,
                        33.87036
                    ],
                    [
                        111.2003,
                        34.77261
                    ]
                ],
                [
                    [
                        111.2003,
                        34.77261
                    ],
                    [
                        112.45361,
                        34.61812
                    ]
                ],
                [
                    [
                        112.45361,
                        34.61812
                    ],
                    [
                        113.24201,
                        35.21563
                    ]
                ],
                [
                    [
                        113.24201,
                        35.21563
                    ],
                    [
                        113.62493,
                        34.74725
                    ]
                ],
                [
                    [
                        113.62493,
                        34.74725
                    ],
                    [
                        114.30731,
                        34.79726
                    ]
                ],
                [
                    [
                        114.30731,
                        34.79726
                    ],
                    [
                        115.48115,
                        35.23363
                    ]
                ],
                [
                    [
                        115.48115,
                        35.23363
                    ],
                    [
                        115.65635,
                        34.41427
                    ]
                ],
                [
                    [
                        115.65635,
                        34.41427
                    ],
                    [
                        115.77931,
                        33.84461
                    ]
                ],
                [
                    [
                        115.77931,
                        33.84461
                    ],
                    [
                        116.79834,
                        33.95479
                    ]
                ],
                [
                    [
                        116.79834,
                        33.95479
                    ],
                    [
                        116.96391,
                        33.64614
                    ]
                ],
                [
                    [
                        116.96391,
                        33.64614
                    ],
                    [
                        117.38932,
                        32.91548
                    ]
                ],
                [
                    [
                        117.38932,
                        32.91548
                    ],
                    [
                        118.31683,
                        32.30181
                    ]
                ],
                [
                    [
                        118.31683,
                        32.30181
                    ],
                    [
                        118.79647,
                        32.05838
                    ]
                ],
                [
                    [
                        118.79647,
                        32.05838
                    ],
                    [
                        119.425,
                        32.18959
                    ]
                ],
                [
                    [
                        119.425,
                        32.18959
                    ],
                    [
                        119.92554,
                        32.45546
                    ]
                ],
                [
                    [
                        119.92554,
                        32.45546
                    ],
                    [
                        119.97365,
                        31.81072
                    ]
                ],
                [
                    [
                        119.97365,
                        31.81072
                    ],
                    [
                        120.31237,
                        31.49099
                    ]
                ],
                [
                    [
                        120.31237,
                        31.49099
                    ],
                    [
                        120.58319,
                        31.29834
                    ]
                ],
                [
                    [
                        120.58319,
                        31.29834
                    ],
                    [
                        121.12417,
                        31.14974
                    ]
                ],
                [
                    [
                        121.12417,
                        31.14974
                    ],
                    [
                        121.22879,
                        31.03222
                    ]
                ],
                [
                    [
                        121.22879,
                        31.03222
                    ],
                    [
                        121.38162,
                        31.11246
                    ]
                ],
                [
                    [
                        121.38162,
                        31.11246
                    ],
                    [
                        121.43676,
                        31.18831
                    ]
                ],
                [
                    [
                        121.43676,
                        31.18831
                    ],
                    [
                        121.42462,
                        31.22036
                    ]
                ],
                [
                    [
                        121.42462,
                        31.22036
                    ],
                    [
                        121.4444,
                        31.22884
                    ]
                ],
                [
                    [
                        121.4444,
                        31.22884
                    ],
                    [
                        121.44636,
                        31.28075
                    ]
                ],
                [
                    [
                        121.44636,
                        31.28075
                    ],
                    [
                        121.48162,
                        31.27788
                    ]
                ]
            ],
            "blendMode": "source-over",
            "zlevel": -10,
            "silent": false
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "geo3D": {
        "map": "china",
        "boxWidth": 100,
        "boxHeight": 10,
        "regionHeight": 3,
        "groundPlane": {
            "show": false,
            "color": "#aaa"
        },
        "instancing": false,
        "itemStyle": {
            "color": "rgb(5,101,123)",
            "borderColor": "rgb(62,215,213)",
            "borderWidth": 0.8,
            "opacity": 1
        },
        "emphasis": {},
        "light": {
            "main": {
                "color": "#fff",
                "intensity": 1.2,
                "shadow": false,
                "shadowQuality": "medium",
                "alpha": 55,
                "beta": 10
            },
            "ambient": {
                "color": "#fff",
                "intensity": 0.3
            },
            "ambientCubemap": {
                "diffuseIntensity": 0.5,
                "specularIntensity": 0.5
            }
        },
        "postEffect": {
            "enable": false,
            "bloom": {
                "enable": false,
                "bloomIntensity": 0.1
            },
            "depthOfField": {
                "enable": false,
                "focalDistance": 50,
                "focalRange": 20,
                "fstop": 2.8,
                "blurRadius": 10
            },
            "SSAO": {
                "enable": false,
                "quality": "medium",
                "radius": 2,
                "intensity": 1
            },
            "colorCorrection": {
                "enable": false,
                "exposure": 0,
                "brightness": 0,
                "contrast": 1,
                "saturation": 1
            },
            "FXAA": {
                "enable": false
            }
        },
        "temporalSuperSampling": {
            "enable": "auto"
        },
        "viewControl": {
            "projection": "perspective",
            "autoRotate": false,
            "autoRotateDirection": "cw",
            "autoRotateSpeed": 10,
            "autoRotateAfterStill": 3,
            "damping": 0.8,
            "rotateSensitivity": 1,
            "zoomSensitivity": 1,
            "panSensitivity": 1,
            "panMouseButton": "left",
            "rotateMouseButton": "middle",
            "distance": 100,
            "minDistance": 40,
            "maxDistance": 400,
            "orthographicSize": 100,
            "minOrthographicSize": 20,
            "maxOrthographicSize": 400,
            "alpha": 40,
            "beta": 0,
            "center": [
                -10,
                0,
                10
            ],
            "minAlpha": 5,
            "maxAlpha": 90,
            "minBeta": -80,
            "maxBeta": 80,
            "animation": true,
            "animationDurationUpdate": 1000,
            "animationEasingUpdate": "cubicInOut"
        },
        "zlevel": -10,
        "left": "auto",
        "top": "auto",
        "right": "auto",
        "bottom": "auto",
        "width": "auto",
        "height": "auto"
    },
    "title": [
        {
            "text": "\u8def\u5f84\u89c4\u5212\u53ef\u89c6\u5316",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e20c6587d5e84951a2b39601f8c59478.setOption(option_e20c6587d5e84951a2b39601f8c59478);
    </script>
</body>
</html>
